$white: #fff;
$black: #000;
$dark: #080702;
$darken: #434449;

$green: #54A757;
$green-hover: #4FA252;
$green-active: #0062CC;

$blue: #29AAE3;
$blue-hover: #269ACD;
$blue-active: #9033F9;

$pink: #9033F9;
$pink-hover: #842EE7;
$pink-active: #54A757;

$red: #FF5966;
$red-hover: #EB5560;
$red-active: #54A757;